:root {
  --dark-pink: #ff81c0; 
  --soft-pink: #f8bbd0; 
  --white: #ffffff;
  --text-dark: #2a0a17;
  --container: 1100px;
  font-family: 'Poppins', sans-serif;
}

/* lets all elements have a consistent layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--soft-pink);
  color: var(--text-dark);
 
}

/* 🌸 NAVBAR */
.navbar {
  display: flex;
  align-items: center; /* Ensures that the navbar is centered*/
  justify-content: space-between;
  padding: 14px 40px;
  position: fixed;
  width: 100%;
  background: #b22b6f; 
  color: var(--white);
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signature {
  font-size: 20px;
  font-weight: 600;
}

.navigation-links {
  display: flex;
  gap: 26px;
  align-items: center; /* Ensures that the navbar is centered*/
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  transition: 0.3s;
}

.nav-link:hover {
  background: rgb(250, 210, 217);
  padding: 6px 12px;
  border-radius: 8px;
}

/* Get in touch Button */
.info-btn{
  background: var(--white);
  color: var(--dark-pink);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.info-btn:hover {
  background: #ffe1eb;
}

